In [4]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

# Datasets

1. Domestic Consumption of Coffee
2. Coffee Export
3. Green Coffee Inventory
4. Coffee Import
5. Importer Consumption of Coffee
6. Coffee Production
7. Coffee Re-Export

### Analysis of Domestic Consumption of Coffee

In [5]:
domestic_consumption = pd.read_csv('Datasets/Coffee_domestic_consumption.csv')
domestic_consumption.head()

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_domestic_consumption
0,Angola,Robusta/Arabica,1200000,1800000,2100000,1200000,1500000,600000,1200000,2400000,...,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,46500000
1,Bolivia (Plurinational State of),Arabica,1500000,1620000,1650000,1710000,1770000,1830000,1890000,1950000,...,2940000,3030000,3120000,3210000,3300000,3420000,3510000,3600000,3660000,75180000
2,Brazil,Arabica/Robusta,492000000,510000000,534000000,546000000,558000000,606000000,660000000,690000000,...,1183200000,1219800000,1205100000,1219980000,1230480000,1273500000,1319820000,1332000000,1320000000,27824700000
3,Burundi,Arabica/Robusta,120000,96000,102000,114600,120000,120000,120000,120000,...,120000,120000,120000,120000,120000,120000,120000,120000,120000,3412020
4,Ecuador,Arabica/Robusta,21000000,21000000,21000000,21000000,21000000,21000000,18000000,18000000,...,9000000,9000000,9300000,9300000,9300000,9300000,9300000,9300000,8940000,381540000

In [9]:
top_consumption = domestic_consumption[['Country', 'Total_domestic_consumption']].sort_values(by=['Total_domestic_consumption'], ascending=False).head(10)
top_consumption.head(10)

        Country  Total_domestic_consumption
2        Brazil                 27824700000
5     Indonesia                  4920480000
29     Ethiopia                  4536540000
41       Mexico                  3189660000
18  Philippines                  2807280000
23     Colombia                  2536776384
52    Venezuela                  2386067999
36        India                  2093460000
53     Viet Nam                  1920928320
48     Thailand                  1248600000